.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-2);
  background-color: var(--background-color-2);
  padding: var(--d0) var(--d2);
}

.auth {
  display: flex;
  align-items: center;
  gap: var(--gap-1)
}

.buttons {
  display: flex;
  gap: var(--gap-1);
}