.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #dedede;
  padding: 0 20px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}