.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
}

.dropDown {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.time {
  font-size: 48px;
}

.buttons {
  display: flex;
  gap: 5px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #0000007b;
  color: white;
  cursor: pointer;
}