.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--d1);
}

.input {
  text-align: center;
  font-size: var(--font-size-3);
  padding: var(--d1) var(--d2);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}

.time {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-5)
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #0000007b;
  color: white;
  cursor: pointer;
}