.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--d1);
}

.input {
  text-align: center;
  font-size: var(--font-size-3);
  padding: var(--d1) var(--d2);
}

.dropDown {
  display: flex;
  flex-direction: column;
  padding: var(--d1);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--background-color-2);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.time {
  font-size: var(--font-size-5)
}

.buttons {
  display: flex;
  gap: 5px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #0000007b;
  color: white;
  cursor: pointer;
}